.typewriter{
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .115em;
    width: 100%;
    float: left;
    animation: 
        typing 3.5s steps(40, end)
        
}

.bar{
    width: 100%;
    background-color: rgb(212, 207, 184);
    height: 70px;
    box-shadow: 3px 3px;
}
@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

